{% if item.stations.count() < 20  %}
    <h4>Stations</h4>
    {% if item.stations.count() %}
    <ul class="links" >
	{% for o in item.stations.all() -%}
    	<li class="stations">
        	<a href="{{ o.solarsystem.get_absolute_url() }}">
                    {{ o|icon32 }}
                    <span class="name">{{ o.name }}</span>
                    <br/>
                    <span class="note corporation">{{ o.corporation }}</span>
                    <span class="note solarsystem">{{ o.solarsystem }}</span>
                    <br/>
                    <span class="note">
                        {% if o.corporation.is_player_corp %}{{ o.corporation.alliance }}
                        {% else %}{{ o.corporation.faction }}
                        {% endif %}
                    </span>
                    <span class="note right">{{ o.type }}
                    <br/>
        	</a>
    	</li>
    {%- endfor %}
    </ul>
    {% else %}
      <p>No staitons.</p>
    {% endif %}
{% endif %}
