{% extends "base.html" %}

{% block content %}
<h2>{{ item.name }}</h2>
<h3>Details</h3>
<table>
  <tr><th>Constellations:</th><td>{{ item.constellations.count() }}</td></tr>
  <tr><th>Systems:</th><td>{{ item.solarsystems.count() }}</td></tr>
  <tr><th>Stations:</th><td>{{ item.stations.count() }}</td></tr>
  <tr><th>Faction:</th><td>{{ item.faction }}</td></tr>
</table>
<h3>Constellations</h3>
<ul class="links">
    {% for c in item.constellations.all() -%}
		<li class="region"><a href="{{ c.get_absolute_url() }}">
		{{ c|icon32 }}
		<span class="name">{{ c.name }}</span><br>
		<span class="systems">Systems: {{ c.solarsystems.count() }}</span>
		{% if c.stations.count() %}<span class="stations">Stations: {{ c.stations.count() }}</span>{% endif %}
		</a></li>
    {%- endfor %}
</ul>
{% include "include_stations.html" %}
{% endblock %}
