# extends "base.html"

# block content
	<ul class="links">
	# for o in objects
    	<li class="sov-changes">
        	<a href="{{ o.get_absolute_url }}">
                    # if o.alliance_id is none
                        <img src="{{ o.alliance_old.icon32 }}">
                    # else
                        <img src="{{ o.alliance.icon32 }}">
                    # endif
                    <span class="name">
                        {{ o.name }}
                    </span>
            <span class="date">{{ o.sov_time.strftime("%Y-%m-%d") }}</span>
            <br/>
            <span class="new">New: {{ o.alliance }}</span><br>
            <span class="old">Old: {{ o.alliance_old }}</span>
        	</a>
    	</li>
	# endfor
	</ul>
# endblock
