# extends "base.html"

# block content
<span class="note index-buy">Old Alliance</span>
<span class="note right index-sell">New Alliance</span>
    <ul class="links">
    # for o in objects
    <li class="sov-changes">
        <a href="{{ o.get_absolute_url }}">
            # if o.alliance_id is none
                {{ o.alliance_old|icon32 }}
            # else
                {{ o.alliance|icon32 }}
            # endif
            <span class="name">
                {{ o.name }}
            </span>
            <span class="note right">{{ o.sov_time.strftime("%Y-%m-%d") }}</span>
            <br/>
            <span class="note index-buy">{{ o.alliance_old }}</span>
            <span class="note right index-sell">{{ o.alliance }}</span>
        </a>
    </li>
    # endfor
    </ul>
# endblock
