{% extends "base.html" %}
{% load trade %}
{% load markup %}

{% block content %}
<h2>{{ pos.moon }}</h2>

<h3>Fuel Status</h3>
  {% if pos.cache_remaining %}
<p>Data here will be automatically refreshed in another
{{ pos.cache_remaining|time }}. You may manually update it below if you
have just changed the fuel supply in this tower.</p>
{% else %}
  <p>Data here has expired from the cache and will be refreshed shortly.</p>
  {% endif %}
  <table class="pos">
    <tr>
    	<th>Fuel</th>
    	<th class="number">Qty</th>
    	<th class="number">Burn</th>
    	<th class="number">Need</th>
    	<th class="number">Time</th>
    </tr>
	{% for f in fuels %}
	{% spaceless %}<tr>
	<th><a href="{{ f.type.get_absolute_url }}">
	  <img src="{{ f.type.icon16 }}"> {{ f.type }}</a></th>
	  <td>{{ f.fuel.quantity|comma }}</td>
	  <td>{{ f.fuel.consumption|comma }}</td>
	  <td>{{ f.need|comma }}</td>
	  <td class="runtime runtime-{{f.run_time.days}}">{{ f.run_time|time }}</td>
	</tr>
	{% endspaceless %}{% endfor %}
  <tr><th class="name" colspan=2>Remaining runtime</th>
  <th class="number" colspan="3">{{ pos.time_remaining|time }}</th></tr>
  </table>
<p>'Need' is defined as the additional quantity needed for a {{ days }}-day
runtime. (Except for Strontium, where the 'need' is the quantity
required to completely fill the Strontium bay.)</p>

{% ifequal pos.sov_level 'Constellation' %}
  <p class="warning">NOTE: This tower is anchored in a system where your
alliance holds constellation sovereignty. There is a known bug where the
manage screen for a tower will not include the constellation discount in
the display, even though it does actually include the discount in
consumption rates. As such, the numbers in-game will appear higher than
what is listed here. However, these are the correct numbers.</p>
{% endifequal %}

<h3>Weekly Costs & Profits</h3>
    <table class="pos-fuel">
	<tr>
   	    <th>Fuel</th>
            <th class="number">Qty</th>
            <th class="number">Price</th>
            <th class="number">Total</th>
        </tr>
	{% for fuel in fuels %}
            {% spaceless %}
            {% if fuel.weekly %}
		<tr>
		<th><a href="{{ fuel.type.get_absolute_url }}">
		  <img src="{{ fuel.type.icon16 }}"> {{ fuel.type }}</a></th>
		  <td>{{ fuel.weekly|comma }}</td>
		  <td>{{ fuel.price|floatformat:2|comma }}</td>
		  <td>{{ fuel.weekly_cost|isk }}</td>
		</tr>
            {% endif %}
	{% endspaceless %}{% endfor %}
        <tr>
            <th class="buy" colspan=2>Weekly cost</th>
            <th class="number buy" colspan="3">- {{ weekly_cost|floatformat:2|comma }} ISK</th>
        </tr>
        <tr>
            <th>Material</th>
            <th class="number">Qty</th>
            <th class="number">Price</th>
            <th class="number">Total</th>
        </tr>
	{% for r in reaction_values %}
	<tr>
            <th><a href="{{ r.type.get_absolute_url }}">
                <img src="{{ r.type.icon16 }}"> {{ r.type }}</a></th>
            <td>{{ r.weekly|comma }}</td>
            <td>{{ r.sell|floatformat:2|comma }}</td>
            <td>{{ r.weekly_value|isk }}</td>
        </tr>
        {% endfor %}
    <tr>
        <th class="sell" colspan=2>Weekly value</th>
        <th class="number sell" colspan="3">+ {{ weekly_value|floatformat:2|comma }} ISK</th>
    </tr>
    <tr>
        <th colspan=2>Total</th>
        {% if profitable %}
            <th class="number index-sell" colspan="3">+ {{ weekly_total|floatformat:2|comma }} ISK</th>
        {% else %}
            <th class="number index-buy" colspan="3">- {{ weekly_total|floatformat:2|comma }} ISK</th>
        {% endif %}
    </tr>
    </table>


<h3>Reactions & Mining</h3>
    {% if reactions %}
        <ul class="links">
        {% for r in reactions %}
            <li><a href="{{ r.type.get_absolute_url }}">
            <img src="{{ r.type.icon32 }}">
            <span class="name">{{ r.type.name }}</span><br>
            <span class="note">{% if r.is_mining %}Moon Mining{% else %}Reaction{% endif %}</span>
            </a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>None.</p>
    {% endif %}

<h3>Actions</h3>
    {% include "include_inlinenav.html" %}

<h3>Location</h3>
    <ul class="links">

    <li class="pos"><a href="{{ pos.solarsystem.get_absolute_url }}">
    <img src="{{ pos.solarsystem.icon32 }}">
    <span class="name">{{ pos.solarsystem }}</span><br>
    <span class="note">Solar System</span></a></li>

    <li class="pos"><a href="{{ pos.constellation.get_absolute_url }}">
    <img src="{{ pos.constellation.icon32 }}">
    <span class="name">{{ pos.constellation }}</span><br>
    <span class="note">Constellation</span></a></li>

    <li class="pos"><a href="{{ pos.region.get_absolute_url }}">
    <img src="{{ pos.region.icon32 }}">
    <span class="name">{{ pos.region }}</span><br>
    <span class="note">Region</span></a></li>

    </ul>

<h3>Type</h3>
    <ul class="links">
    <li><a href="{{ pos.tower.get_absolute_url }}"><img src="{{ pos.tower.icon32 }}">
    <span class="name">{{ pos.tower }}</span></a></li>
    </ul>

<h3>Facts</h3>
    <p>{{ pos.note }}</p>
    <table class="pos">
	<tr><th>Owning corporation</th><td>{{ pos.corporation }}</td></tr>
	<tr><th>Online time</th><td>{{ pos.online_time }}</td></tr>
        <tr><th>Fueled Until</th><td>{{ pos.fueled_until }}</td></tr>
	<tr><th>Sov level</th><td>{{ pos.sov_level }}</td></tr>
	<tr><th>State</th>
	{% if pos.is_online %}<td class="online">{% else %}<td class="offline">{% endif %}
	{{ pos.state_name }}</td></tr>
	<tr><th>State time</th><td>{{ pos.state_time }}</td></tr>
	<tr><th>Cached until</th><td>{{ pos.cached_until }}</td></tr>
	<tr><th>CPU utilization</th><td>{{ pos.cpu_percent }} % (Estimated)</td></tr>
	<tr><th>Power utilization</th><td>{{ pos.power_percent }} % (Estimated)</td></tr>
    </table>

<h3>Settings</h3>
    <table class="pos">
	<tr><th>Corporation use</th>
		{% if pos.corporation_use %}<td class="enabled">Enabled{% else %}<td class="disabled">Disabled{% endif %}</td></tr>
	<tr><th>Alliance use</th>
		{% if pos.alliance_use %}<td class="enabled">Enabled{% else %}<td class="disabled">Disabled{% endif %}</td></tr>
        <tr><th>Owner</th>
                {% if pos.owner %}<td class="enabled">{{ pos.owner }}</td>{% else %}<td class="disabled">None</td>{% endif %}</tr>
	<tr><th>Claiming Sovereignty</th>
		{% if pos.claim %}<td class="enabled">Enabled{% else %}<td class="disabled">Disabled{% endif %}</td></tr>
	<tr><th>Attack standing below</th>
		{% if pos.attack_standing_value %}<td class="enabled">{{ pos.attack_standing_value }}{% else %}<td class="disabled">Disabled{% endif %}</td></tr>
	<tr><th>Attack sec status below</th>
		{% if pos.attack_secstatus_value %}<td class="enabled">{{ pos.attack_secstatus_value }}{% else %}<td class="disabled">Disabled{% endif %}</td></tr>
	<tr><th>Attack at war</th>
		{% if pos.attack_atwar %}<td class="enabled">Enabled{% else %}<td class="disabled">Disabled{% endif %}</td></tr>
	<tr><th>Attack on aggression</th>
		{% if pos.attack_aggression %}<td class="enabled">Enabled{% else %}<td class="disabled">Disabled{% endif %}</td></tr>
	<tr><th>Deployment flag</th><td>{{ pos.deploy_flags }}</td></tr>
	<tr><th>Usage flag</th><td>{{ pos.usage_flags }}</td></tr>
    </table>

{% endblock %}
