{% extends "base.html" %}
{% load trade %}
{% load markup %}

{% block content %}
{% if poses %}
{% include "include_inlinenav.html" %}

<ul class="links">
{% for pos in poses %}
    {% ifchanged pos.corporation_id %}<h3>{{ pos.corporation.name }}</h3>{% endifchanged %}
    {% ifchanged pos.owner_id %}
        <h4>
            {% if pos.owner_id %}
                {{ pos.owner.name }}
            {% else %}
                Corporate Use
            {% endif %}
        </h4>
    {% endifchanged %}
		<li class="pos">{% spaceless %}
			<a href="{{ pos.get_absolute_url }}">
			<img src="{{ pos.tower.icon32 }}">
			<span class="name">{{ pos.moon }}</span>
    		{% if pos.is_online %}
	        	<span class="state online right">Online</span>
    		{% else %}
	        	<span class="state offline right">{{ pos.state_name }}</span>
    		{% endif %}
    		<br>
    		<span class="note">{{ pos.tower }}</span>
        {% expr pos.time_remaining as tr %}
        {% if tr %}
    		{% expr int(tr.days) as days %}
    		  <span class="runtime runtime-{{ days }} right">{{ tr|time }}</span>
        {% else %}
          <span class="runtime runtime-0 right">—</span>
        {% endif %}
    		</a>
    	</li>{% endspaceless %}
{% endfor %}
</ul>
{% else %}
<p>You are not director in any corporation owning a station.</p>
{% endif %}
{% endblock %}
