{% extends 'base.html' %}

{% block content %}
<p>Please enter all items being mined and/or reactions being run at this POS.</p>
<p>The Widget is smart enough to differentiate, so enter them in any slot.</p>
<p>If you are using a Moon Miner II, enter the mined mineral twice.</p>
<form method="POST">
<fieldset><input type="submit" value="Update Mining/Reactions"></fieldset>
<table>
{{ form }}
</table>
<fieldset><input type="submit" value="Update Mining/Reactions"></fieldset>
</form>
{% endblock %}
