{% extends "base.html" %}

{% block content %}
<h4>Account creation</h4>
<ul class="links">
<li><a href="/user/create/">
<img src="/static/ccp-icons/white/32_32/icon07_05.png">
Register with The Widget. Tap here if it is your first time.</a>
</li>
</ul>

{% if form.has_errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<h4>Login</h4>
<form method="post" action=".">
<table>
<tr><td><label for="id_username">Username:</label></td><td>{{ form.username }}</td></tr>
<tr><td><label for="id_password">Password:</label></td><td>{{ form.password }}</td></tr>
</table>

<fieldset>
<input type="submit" value="Login to the Widget" />
<input type="hidden" name="next" value="{{ next }}" />
</fieldset>
</form>
{% endblock %}
