<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
{% load trade %}
{% if flatpage %}
<title>{{ flatpage.title }}
{% else %}
{% if nav %}
<title>{{ nav|title|safe }}</title>
{% else %}
<title>EVE Magic Widget</title>
{% endif %}
{% endif %}

<meta name="viewport" content="width=320; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
<link rel="stylesheet" href="/static/iphone.css">
{% block head %}{% endblock %}
</head>
<body orient="landscape"><div class="page">
    {% spaceless %}<h1>EVE Magic Widget</h1>
<!-- {{ nav|pprint|safe }} -->    
<div class="trail">{% if nav %}<a href="/">Menu</a>
    {% for n in nav %} &raquo; {% if not forloop.last %}<a href="{{ n.get_absolute_url }}">{{ n.name }}</a>{% else %}{{ n.name }}{% endif %}{% endfor %}
    {% else %}
    {% if flatpage %}
    <a href="/">Menu</a> &raquo; {{ flatpage.title }}
    {% else %}
    <a href="/">Menu</a>
    {% endif %}
    {% endif %}
</div>{% endspaceless %}
<div class="content">
{% block content %}{% endblock %}
</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3183901-2");
pageTracker._initData();
pageTracker._trackPageview();
{% if user %}pageTracker._setVar("{{ user }}"); {% endif %}
</script>
</body></html>
