{% extends "base.html" %}
{% load trade %}
{% load markup %}

{% block title %} Item: {{ item.name }} {% endblock %}

{% block content %}
{% spaceless %}
<div class="item">
    <div class="description">
        <h3>{{ item.name }}</h3>
        {% if item.is_blueprint %}
        <p>{{ item.blueprint_makes.description }}</p>
        {% else %}
        {% if item.description %}
        <p>{{ item.description|markdown }}</p>
        {% else %}
        <p>No description</p>
        {% endif %}
        {% endif %}
        <img src="{{ item.icon64 }}" class="icon">
    </div>
    
    <h4>Details</h4>
    {% if not item.published %}
    <p>This item is marked as an unpublished item and will not actually be available in-game.
     Have fun looking at it anyways.</p>
    {% endif %}
    <table class="item-details">
    {% if item.is_blueprint %}
        <tr><th>Batch Size:</th><td>{{ item.blueprint_makes.portionsize }}</td></tr>
        <tr><th>Tech Level:</th><td>{{ item.blueprint_details.techlevel }}</td></tr>
        <tr><th>Production Time:</th><td>{{ item.blueprint_details.productiontime|time }}</td></tr>
        <tr><th>Research, material:</th><td>{{ item.blueprint_details.researchmaterialtime|time }}</td></tr>
        <tr><th>Research, productivity:</th><td>{{ item.blueprint_details.researchproductivitytime|time }}</td></tr>
        <tr><th>Research, copy:</th><td>{{ item.blueprint_details.researchcopytime|time }}</td></tr>
        <tr><th>Base Waste Factor:</th><td>{{ item.blueprint_details.wastefactor }} %</td></tr>
    {% else %}
        {% for a in attributes %}
        {% if a.value and a.displayname %}
            <tr>
            <td class="icon"><img src="{{ a.icon16 }}"></td>
            <th>{{ a.name }}</th>
            <td>{{ a.display_value }}</td></tr>
        {% endif %}
        {% endfor %}
    {% endif %}
    </table>
    
    {% if item.fuel.count %}
    <h4>Fuel Consumption (Hourly)</h4>
    <p>Charters only apply if in low-sec for that faction.</p>
    <table>
    {% for fuel in item.fuel.all %}
    <tr>
    <td class="icon"><img src="{{ fuel.type.icon16 }}"></td>
    <th>{{ fuel.type }}</th>
    <td>{{ fuel.quantity }}</td>
    </tr>
    {% endfor %}
    </table>
    {% endif %}
    
    
    {% if item.blueprint %}
    <div class="blueprint">
    <h4>Blueprint</h4>
    <ul class="links">
    {% if not item.is_blueprint %}
    <li><a href="{{ item.blueprint.get_absolute_url }}">
    <img src="{{ item.blueprint.icon32 }}">
    <span class="name">{{ item.blueprint.name }}</span>
    </a></li>
    {% else %}
    <li>
    <a href="{{ item.blueprint_makes.get_absolute_url }}">
    <img src="{{ item.blueprint_makes.icon32 }}">
    <span class="name">{{ item.blueprint_makes.name }}</span></a>
    </li>
    {% endif %}
    {% if blueprint %}
    <li class="blueprint"><a href="/trade/blueprints/edit/{{ blueprint.blueprint.id }}/">
		<img src="{{ blueprint.blueprint.icon32 }}">
    	<span class="name">{{ blueprint.blueprint.blueprint_makes.name }}</span>
    	<br>
    	<span class="me">ME:{{ blueprint.me }}</span>
    	<span class="pe">PE:{{ blueprint.pe }}</span>
    	<span class="waste">W: {{ blueprint.waste_display }}</span>
    	{% if blueprint.original %}
        	<span class="right is_original original">BPO</span>
    	{% else %}
        	<span class="right is_original copy">Copy</span>
    	{% endif %}
    	</a>
    </li>
    {% else %}
    <li><a href="/trade/blueprints/edit/{{ item.blueprint.id }}/">
    <span class="name">You do not own this blueprint.</span><br> 
    <span class="link">Actually, I do. (Add to collection)</span></a></li>
    {% endif %}
    </ul>
    {% endif %}
    
{% if materials %}
    <!-- {{materials|pprint|safe }} -->
    <!-- 
    <h4>Materials{% ifnotequal item.portionsize 1 %} (per {{ item.portionsize }}){% endifnotequal %}</h4>
    <table class="materials">
	<tr><th></th>
	{% for x in materials.order %}
		<th>{% expr materials['titles'][x] %}</th>
	{% endfor %}
    <th>ISK</th>
    </tr>
	{% expr len(materials['titles'])+1 as item_colspan %}
	{% for m in materials.materials %}
	<tr>
		<th class="icon" rowspan="2"><img src="{{ m.material.icon16 }}"></td>
		<th class="name" colspan="{{item_colspan}}"><a href="{{ m.material.get_absolute_url }}">{{ m.material.name }}</a></td>
	</tr><tr>
		{% for x in materials.order %}
			{% expr m.has_key(x) and m[x] as quantity %}
			<td>{{ quantity|default:"&#8211;"|comma|safe }}</td>
		{% endfor %}
		<td>
		{% if m.material.is_skill %}Skill
		{% else %}{{ m.index.value|default:"N/A"|isk }}</td>
		{% endif %}
	</tr>
	{% endfor %}
    {% if materials.isk %}
    	<tr><th>ISK{% ifnotequal item.portionsize 1 %} (Each){% endifnotequal %}</th>
    	{% for x in materials.order %}
        	{% expr materials['isk'][x] as cost %}
        	<td>{{ cost|default:"&#8211;"|isk }}</td>
        {% endfor %}
        <td>&nbsp;</td>
        </tr>
	{% endif %}
	</table>
	-->
	{% for x in materials.order %}
		<h4>{% expr materials['titles'][x] %}</h4>
		<ul class="links materials">
		{% for m in materials.materials %}
		{% expr m.has_key(x) and m[x] as quantity %}
		{% if quantity %}
			<li><a href="{{ m.material.get_absolute_url }}">
			<img src="{{ m.material.icon32 }}">
			<span class="name">{{ m.material.name }}</span>
			<br>
			{% if m.material.is_skill %}
			<span class="quantity">Required level: {{ quantity }}</span>
			<span class="skill right">Skill</span>
			{% else %}
			<span class="quantity">x{{ quantity|comma }}</span>
			{% if m.index.value %}
			<span class="index right">{{ m.index.value|floatformat:2|comma }} ISK</span>
			{% else %}
			<span class="index right">Unknown</span>
			{% endif %}
			{% endif %}
			</a></li>
		{% endif %}
		{% endfor %}
		</ul>
		{% expr materials['isk'].has_key(x) and materials['isk'][x] as cost%}
		{% if cost %}
		<p>Total cost/value: {{ cost|floatformat:2|comma }} ISK</p>
		{% endif %}
		
	{% endfor %}
{% endif %}
    
    {% if makes %}
	<h4>Used in</h4>
		<ul class="links materials">
		{% for m in makes %}
			<li><a href="{{ m.item.get_absolute_url }}">
			<img src="{{ m.item.icon32 }}">
			{{ m.item.name }}
			<br>
			<span class="quantity">{{ m.activity }}</span><!-- 
			{% if m.material.is_skill %}
			<span class="skill">Skill</span>
			{% else %}
			{% if m.index.value %}
			<span class="index">{{ m.index.value|isk }} ISK</span>
			{% else %}
			<span class="index">Unknown</span>
			{% endif %}
			{% endif %} -->
			</a></li>
		{% endfor %}
		</ul>
	{% endif %}
    
    <h4>Market Indexes</h4>
    {% if item.index_values.count %}
    {% for i in item.index_values.all %}
    <p>{{ i.index }} lists this item as {{ i.value|isk }} ISK. (As of {{ i.date }}.)
    {% endfor %}
    {% else %}
    <p>This item is not listed on any known indexes.</p>
    {% endif %}
    
    <!-- Trade values: {{ values|pprint }} Best: {{ best_values|pprint }}-->
    <div class="item-trade">
    <h4>Trade values (for the last {{ time_span }})</h4>
    {% if user.is_authenticated %}
    {% if not values.items %}
    <p>No recorded transactions for any of your characters.</p>
    {% else %}
    {% for key, value in values.items %}
    <h5><a href="{{ value.region.get_absolute_url }}">{{ key }}</a></h5>            
    <em>{{ value.gross|isk }}</em>
    {% if value.sell_volume %}
    <p>{{ value.sell_volume|comma }} units sold at average of
    {{ value.sell_price|isk }} ISK.</p>
    {% else %}
    <p>0 units sold.</p>
    {% endif %}
    {% if value.buy_volume %}
    <p>{{ value.buy_volume|default:0|comma }} units bought at average of
    {{ value.buy_price|default:0|isk }} ISK.</p>
    {% else %}
    <p>0 units bought.</p>
    {% endif %}
    {% if value.profit_isk %}
    <p>This works out to a per-unit resale profit of {{ value.profit_isk|isk }} ISK
    ({{ value.profit_pct|floatformat:2 }}%)</p>
    {% endif %} <!-- if value.profit_isk -->                                                                                          
    {% endfor %}<!-- for key, value in values.items -->
    {% endif %}<!-- if not values.items : else -->
    {% if best_values.sale or best_values.buy %}
      <h5>Best Trades</h5>
      <em>{{ best_values.gross|isk }}</em>
    {% endif %}
    {% if best_values.sell.sell_price %}
      <p>Your best sale price was {{ best_values.sell.sell_price|isk }} ISK in
      {{ best_values.sell.region }}.</p>
    {% endif %}
    {% if best_values.buy.buy_price %}
      <p>Your best buy price was {{ best_values.buy.buy_price|isk }} ISK in
      {{ best_values.buy.region }}.</p>
    {% endif %}
    {% if best_values.profit_isk %}
        <p>This works out to a maximum possible per-unit profit of {{ best_values.profit_isk|isk }} ISK
    ({{ best_values.profit_pct|floatformat:2 }}%)</p>
    {% endif %}
    {% if best_values.manufacturing_profit_isk %}
    <p>If you are to manufacture the item instead, your best per-unit profit is
     {{ best_values.manufacturing_profit_isk|isk }} ISK
    ({{ best_values.manufacturing_profit_pct|floatformat:2 }}%)</p>
    {% else %}
    {% if item.blueprint %}
    <p>The widget is capable of calculating manufacturing profit for you
on this item, but you need to log in, add the blueprint to your
collection, and sell some of the item.</p>
    {% endif %}
    {% endif %}
    {% else %}<!-- if user.is_authenticated -->
      <p>You have to log in if you want to see your transaction data.</p>
    {% endif %}
    </div>
</div>
{% endspaceless %}
{% endblock %}
