{% extends "base.html" %}
{% load trade %}

{% block content %}
<ul class="links" >
{% for o in objects %}{% spaceless %}
    <li class="item">
        <a href="{{ o.item.get_absolute_url }}">
            <img src="{{ o.item.icon32 }}"><span class="name">{{ o.item.name }}</span><br>
            {% if o.item.marketgroup %}
            {% if o.buy %}<span class="index-buy">{{ o.buy|floatformat:2|comma }} ISK</span>{% endif %}
            {% if o.sell %}<span class="index-sell right">{{ o.sell|floatformat:2|comma }} ISK</span>{% endif %}
            {% else %}
            <span class="note">{{ o.item.description }}</span>
            {% endif %}
        </a>
    </li>
{% endspaceless %}
{% endfor %}
</ul>
{% endblock %}

