{% extends "base.html" %}
{% load trade %}
{% load markup %}

{% block title %} {{ item.name }}) {% endblock %}

{% block content %}
{% spaceless %}
<div class="item">
    <div class="item-description">
        <h3>{{ item.name }}</h3>
        {% if item.alliance %}
        <img src="{{ item.icon64 }}" class="icon">
        {% endif %}
    </div>
    <h4>Details</h4>
    <table class="item-details">
        <tr><th>Security:</th><td>{{ item.security|floatformat:"-3" }}</td></tr>
        <tr><th>Region:</th><td><a href="{{ item.region.get_absolute_url }}">{{ item.region }}</a></td></tr>
        <tr><th>Constelation:</th>
        <td><a href="{{ item.constellation.get_absolute_url }}">{{ item.constellation }}</a></td></tr>
        <tr><th>Soverignity:</th>
        <td>{% if item.alliance %}{{ item.alliance }}, Sov: {{ item.sov }}{% else %}Unclaimed{% endif %}</td>
        <tr><th>Asteroid Belts:</th><td>{{ item.belts.count }}</td></tr>
        <tr><th>Moons:</th><td>{{ item.moons.count }}</td></tr>
    </table>
    
  	{% include "include_stations.html" %}
        
    <div class="item-materials">
    <h4>Asteroid Belts</h4>
        <table>
        {% for s in item.belts %}
            <tr>
            	<td class="left">{{ s.name }}</td>
            </tr>
        {% endfor %}
        </tr>
        </table>
    </div>

    <div class="item-materials">
    <h4>Moons</h4>
        <table>
        {% for i in item.moons %}
            <tr>
            	<td class="left">{{ i.name }}</td>
            </tr>
        {% endfor %}
        </tr>
        </table>
    </div>    
</div>
{% endspaceless %}
{% endblock %}
