{% extends "base.html" %}
{% load trade %}

{% block head %}
<!--[if IE]><script language="javascript" type="text/javascript" src="/static/flot/excanvas.pack.js"></script><![endif]-->
<script language="javascript" type="text/javascript" src="/static/jquery.js"></script>
<script language="javascript" type="text/javascript" src="/static/flot/jquery.flot.js"></script>
{% endblock %}

{% block content %}
<!-- {{ points|pprint }} -->

    <div class="flot" id="graph-chars"></div>
    <div class="flot" id="graph-poses"></div>

    <p>Distribution of upcoming refreshes over time.</p>

<script id="source" language="javascript" type="text/javascript">
$(function () {
    var poses = {{ poses|jspoints }};
    var chars = {{ chars|jspoints }};
    
    $.plot($("#graph-chars"), [
        { label: "Character", data: chars, color: 'green', },
    ], {
    	lines: { show: true },
        points: { show: true },
        xaxis: {
            min: 0,
            max: 120,
        	tickSize: 10,
        }, 
        yaxis: {
            min: 0,
            tickDecimals: 0,
        },
        grid: {
            backgroundColor: "#fffaff"
        },
    } );

    $.plot($("#graph-poses"), [
        { label: "POS", data: poses, color: "red", },
    ], {
    	lines: { show: true },
        points: { show: true },
        xaxis: {
            min: 0,
            max: 12,
        	ticks: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
        }, 
        yaxis: {
            min: 0,
            tickDecimals: 0,
        },
        grid: {
            backgroundColor: "#fffaff"
        },
    } );
});


$(function () {
    var d1 = [];
    for (var i = 0; i < Math.PI * 2; i += 0.25)
        d1.push([i, Math.sin(i)]);
    
    var d2 = [];
    for (var i = 0; i < Math.PI * 2; i += 0.25)
        d2.push([i, Math.cos(i)]);

    var d3 = [];
    for (var i = 0; i < Math.PI * 2; i += 0.1)
        d3.push([i, Math.tan(i)]);
    
    $.plot($("#placeholder2"), [
        { label: "sin(x)",  data: d1},
        { label: "cos(x)",  data: d2},
        { label: "tan(x)",  data: d3}
    ], {
        lines: { show: true },
        points: { show: true },
        legend: { noColumns: 2 },
        xaxis: {
            ticks: [0, [Math.PI/2, "\u03c0/2"], [Math.PI, "\u03c0"], [Math.PI * 3/2, "3\u03c0/2"], [Math.PI * 2, "2\u03c0"]]
        },
        yaxis: {
            noTicks: 10,
            min: -2,
            max: 2
        },
        grid: {
            backgroundColor: "#fffaff"
        }
    });
});
</script>
{% endblock %}
        