{% extends "base.html" %}

{% block content %}
<h4>request.GET</h4>
<table>
{% for key, value in request.GET.items %}
   <tr><th>{{ key }}</th><td class="name">{{ value }}</td></tr> 
{% endfor %}
</table>

<h4>request.POST</h4>
<table>
{% for key, value in request.POST.items %}
   <tr><th>{{ key }}</th><td class="name">{{ value }}</td></tr> 
{% endfor %}
</table>

<h4>request.COOKIES</h4>
<table>
{% for key, value in request.COOKIES.items %}
   <tr><th>{{ key }}</th><td class="name">{{ value }}</td></tr> {% endfor %}
</table>

<h4>request.META</h4>
<table>
{% for key, value in meta %}
{% ifnotequal "HTTP_COOKIE" key %}
    <tr><th>{{ key }}</th><td class="name">{{ value }}</td></tr>
{% endifnotequal %}
{% endfor %}
</table>
{% endblock %}

