{% extends "base.html" %}

{% block content %}
<ul class="links" >
{% for o in objects %}
    <li>
        <a href="{{ o.get_absolute_url }}">
            <img src="{{ o.icon32 }}"><span class="name">{{ o.name }}</span>
            {% if o.note %}<br><span class="note">{{ o.note }}</span>{% endif %}
        </a>
    </li>
{% endfor %}
</ul>
<!--
        <li class="pagination">
        	<a href="http://digg.com/iphone?page=4" class="next">Page 4</a>
        	<a href="http://digg.com/iphone?page=2" class="previous">Page 2</a>
        	<strong>3</strong>
        </li>
-->
{% endblock %}

