{% load trade %}

{% for b in blueprints %}
	{% spaceless %}<li class="blueprint"><a href="{{ b.get_absolute_url }}">
		<img src="{{ b.blueprint.icon32 }}">
    	<span class="name">{{ b.blueprint.blueprint_makes.name }}</span>
    	<br>
    	
    	<span class="me {% ifequal b.me 0 %}me-crap{% endifequal %}"> ME:{{ b.me }} = {{ b.waste_display }}</span>
    	<span class="pe">PE:{{ b.pe }}</span>
    	{% if b.cost_per_run %}
    	<span class="cost">{{ b.cost_per_run|floatformat:0|comma }} ISK</span>
    	{% endif %}
    	{% if b.original %}
        	<span class="right is_original original">BPO</span>
    	{% else %}
        	<span class="right is_original copy">Copy</span>
    	{% endif %}
    	</a>
    </li>
{% endspaceless %}{% endfor %}
