{% load trade %}

{% expr item.stations.count() < 20 as shouldprint %} 
{% if shouldprint %}
    <div id="stations">
    <h4>Stations</h4>
    {% if item.stations.count %}
        <table>
        <tr><th></th><th>System</th><th>Station</th></tr>
        {% for s in item.stations.all %}
            <tr>
                <th><img src="{{ s.icon32 }}"></th>
            	<th><a href="{{ s.solarsystem.get_absolute_url }}">{{ s.solarsystem }}</a></th>
            	<td>{{ s.name }}</td>
            </tr>
        {% endfor %}
        </tr>
        </table>
    {% else %}
      <p>No staitons.</p>
    {% endif %}
    </div>
{% endif %}