{% extends "base.html" %}
{% load trade %}

{% block content %}
<h3>Operation</h3>
<table>
<tr><th>Description:</th><td>{{ op.description }}</td></tr>
<tr><th>When:</th><td>{{ op.datetime }}</td></tr>
</table>

<h3>Total Minerals</h3>
<ul class="links">
{% for m in minerals %}
<li><a href="{{ m.type.get_absolute_url }}">
<img src="{{ m.type.icon32 }}">
<span class="name">{{ m.type.name }}</span><br>
<span class="quantity">x{{ m.quantity|comma }}</span>
<span class="right index-sell">{{ m.sell|floatformat:2|comma }} ISK</span>
</a></li>
{% endfor %}
<p>Total operation value: {{ total_value|isk }}</p>

<h3>Miners</h3>
<table>
<tr><th>Name</th><th class="number">Hours</th><th class="number">%</th><th class="number">Value</th></tr>
{% for m in miners %}
	<tr>
	    <td class="name">{{ m.miner.name }}</td>
	    <td>{{ m.hours|floatformat:1 }}</td>
	    <td>{{ m.percent_display|floatformat:2 }} %</td>
	    <td>{{ m.isk|floatformat:0|comma }}</td>
	</tr>
{% endfor %}
</table>

<h3>Shares</h3>
{% for x in ore_per_person %}
	<h4>{{ x.miner.name }}</h4>
	<table>
	<tr><th>Mineral</th><th class="number">Quantity</th><th class="number">ISK</th></tr>
	{% for mineral in x.shares %}{% spaceless %}
	  <tr><td class="name">{{ mineral.type }}</td>
	      <td>{{ mineral.quantity|comma }}</td>
	      <td>{{ mineral.sell|floatformat:2|comma }}</td>
	</tr>{% endspaceless %}
	{% endfor %}
	<tr><th>Total ISK:</th><th class="number" colspan="2">{{ x.sell|floatformat:2|comma }}</th></tr>
	</table>
{% endfor %}
{% endblock %}