{% extends "base.html" %}
{% load trade %}
{% load markup %}

{% block content %}
<p>Use this setting to assign 'ownership' of this structure to someone within
your corporation. They will be able to see the status of the POS via the Widget,
but not within EVE itself.</p>

<h3>{{ pos.corporation.name }}</h3>
<ul class="links">
<li class="pos-access">
<img src="{{ pos.corporation.icon32 }}">
<a href="/pos/{{ pos.id }}/owner/0/">
<span class="denied">Corprate</span><br>
<span class="note">Click to set this POS to corprate use.</span>
</a></li>
</ul>

<h4>Characters</h4>
<p>Select a character to make them the 'owner' of this POS, giving them
access to it within the widget, and showing them as the owner on the main POS
list.</p>

<ul class="links">
{% for c in pos.corporation.characters.all %}{% spaceless %}
{% ifequal c pos.owner %}
<li class="pos-access no-link">
<img src="{{ c.icon64 }}">
<a>
<span class="granted">{{ c.name }}</span><br>
<span class="note">Owner! They will be able to see POS status.</span>
{% else %}
<li class="pos-access">
<img src="{{ c.icon64 }}">
<a href="/pos/{{ pos.id }}/owner/{{ c.id }}/">
<span class="denied">{{ c.name }}</span><br>
<span class="note">Click to make owner of this POS.</span>
{% endifequal %}
</a></li>
{% endspaceless %}{% endfor %}
</ul>
{% endblock %}
