{% extends "base.html" %}
{% load trade %}
{% load markup %}

{% block content %}
{% if corporations %}
<p>The following users are able to view POS information via the Widget, based
off of their in-game roles within the corporation. To grant or revoke global
access, use the in-game title and role mechanics.</p>

<p>If you want to designate a single person as the owner of a
personal POS, then do <strong>not</strong> use this page to do that. Go
to the page for the specific POS, and you will find a delegation and
ownership tool there.</p>

{% for c in corporations %}
<h3>{{ c.name }}</h3>
<h4>Characters</h4>
<p>Characters in green can view POS status. Those in red cannot.</p>

<ul class="links">
{% for char in c.characters.all %}
<a>
<li class="pos-access no-link">
<img src="{{ char.icon64 }}" style="width: 32px; height: 32px">
{% if char.is_director %}
<span class="director">{{ char.name }}</span><br>
<span class="note">This character is a director. They will always see POS status.</span>
{% else %}
{% if char.is_pos_monkey %}
<span class="granted">{{ char.name }}</span><br>
<span class="note">This character as the 'Starbase Caretaker' role granted within EVE.</span>
{% else %}
<span class="denied">{{ char.name }}</span><br>
<span class="note">This character has no roles.</span>
{% endif %}{% endif %}
</a></li>
{% endfor %}
</ul>
{% endfor %}
{% else %}
<P>This control is only avilable to the director of a corporation.</P>
{% endif %}
{% endblock %}