{% extends "base.html" %}
{% load trade %}
{% load markup %}

{% block content %}
<!-- poses: {{ poses|pprint }} --> 
{% if poses %}
<ul class="links">
{% for nav in inline_nav %}
<li><a href="{{ nav.get_absolute_url }}">
<img src="{{ nav.icon32 }}">
<span class="link">{{ nav.name }}</span><br>
<span class="note">{{ nav.note }}</span>
</a></li>
{% endfor %}
</ul>

{% for corp in poses %}
<!-- corp: {{ corp|pprint }} -->
<h4>{{ corp.name }}</h4>
	<ul class="links">
	{% for pos in corp.pos %}
		<li class="pos">{% spaceless %}
			<a href="{{ pos.get_absolute_url }}">
			<img src="{{ pos.tower.icon32 }}">
			<span class="name">{{ pos.moon }}</span>
    		{% if pos.is_online %}
	        	<span class="state online right">Online</span>
    		{% else %}
	        	<span class="state offline right">{{ pos.state_name }}</span>
    		{% endif %}
    		<br>
    		<span class="note">{{ pos.tower }}</span>
    		{% expr int(pos.time_remaining.days) as days %}
    		<span class="runtime runtime-{{ days }} right">{{ pos.time_remaining|time }}</span>
    		</a>
    	</li>{% endspaceless %}
	{% endfor %}
	</ul>
{% endfor %}
{% else %}
<p>You are not director in any corporation owning a station.</p>
{% endif %}
{% endblock %}