{% extends "base.html" %}
{% load trade %}
{% load markup %}

{% block content %}
<!-- pos: {{ pos|pprint }} --> 
<h4>Fuel Loaded</h4>

<form method="post">
<table>

  {% if pos.cache_remaining %}
  <p>Data here will be automatically refreshed on the next API refresh.
  CCP limits this to every 6 hours, with the next avilable window being in
  {{ pos.cache_remaining|time }}.</p>
  {% else %}
  <p>Data here has expired from the cache and will be refreshed shortly via the EVE API.</p>
  {% endif %}
  <table class="pos-fuel">
    <tr>
    	<th>Fuel</th>
    	<th class="number">Qty</th>
    	<th class="number">Burn</th>
    	<th class="number">Goal</th>
    </tr>
	{% for fuel in fuel %}
	<tr>{% spaceless %}
	  <th><a href="{{ fuel.type.get_absolute_url }}"> <img src="{{ fuel.type.icon16 }}"> {{ fuel.type }}</a></th>
	  <td><input type="text" size="8" value="{{ fuel.quantity }}" name="{{ fuel.type.id }}"></td>
	  <td>{{ fuel.consumption|comma }}</td>
	  {% expr fuel.consumption * 24 * days as goal %}
	  <td>{{ goal|comma }}</td>
	</tr>{% endspaceless %}
	{% endfor %}
  </table>
  
  <p>'Goal' is defined as the quantity needed for a {{ days }}-day runtime.</p> 
	  
	  
</table>
<fieldset>
<input type="submit" value="Update fuel quantities"/>
</fieldset>
</form>
{% endblock %}