{% extends "base.html" %}
{% load trade %}
{% load markup %}

{% block content %}
<p>Use this setting to designate someone within your corporation as a
POS Helper, who will be able to view and update status on all POSes
within their corporation.</p>

<p>If you want to designate a single person as the owner of a
personal POS, then do <strong>not</strong> use this page to do that. Go
to the page for the specific POS, and you will find a delegation and
ownership tool there.</p>

<h3>{{ pos.corporation.name }}</h3>
<h4>Characters</h4>
<p>Characters in green can view POS status. Those in red cannot.</p>

<ul class="links">
{% for c in characters%}
{% if c.director %}
<li class="pos-access no-link">
<img src="{{ c.character.icon64 }}" style="width: 32px; height: 32px">
<a>
<span class="director">{{ c.character.name }}</span><br>
<span class="note">This character is a director. They will always see POS status.</span>
{% else %}
{% if c.monkey %}
<li class="pos-access no-link">
<img src="{{ c.character.icon64 }}" style="width: 32px; height: 32px">
<a>
<span class="monkey">{{ c.character.name }}</span><br>
<span class="note">This character is a designated POS Helper by the directors.
They will always see POS status.</span>
{% else %}
{% if c.delegate %}
<li class="pos-access">
<img src="{{ c.character.icon64 }}" style="width: 32px; height: 32px">
<a href="/pos/{{ pos.id }}/revoke/{{ c.character.name }}/">
<span class="granted">{{ c.character.name }}</span><br>
<span class="note">Click to revoke POS view access for this POS.</span>
{% else %}
<li class="pos-access">
<img src="{{ c.character.icon64 }}" style="width: 32px; height: 32px">
<a href="/pos/{{ pos.id }}/grant/{{ c.character.name }}/">
<span class="denied">{{ c.character.name }}</span><br>
<span class="note">Click to grant POS view access for this POS.</span>
{% endif %}{% endif %}{% endif %}
</a></li>
{% endfor %}
</ul>
{% endblock %}