{% extends "base.html" %}
{% load trade %}
{% load markup %}

{% block content %}
<!-- poses: {{ poses|pprint }} --> 
{% if poses %}
{% include "include_inlinenav.html" %}

{% for corp in poses %}
<!-- corp: {{ corp|pprint }} -->
<h4>{{ corp.name }}</h4>
	<ul class="links">
	{% for pos in corp.pos %}
		<li class="pos">{% spaceless %}
			<a href="{{ pos.get_absolute_url }}">
			<img src="{{ pos.tower.icon32 }}">
			<span class="name">{{ pos.moon }}</span>
    		{% if pos.is_online %}
	        	<span class="state online right">Online</span>
    		{% else %}
	        	<span class="state offline right">{{ pos.state_name }}</span>
    		{% endif %}
    		<br>
    		<span class="note">{{ pos.tower }}</span>
        {% expr pos.time_remaining as tr %}
        {% if tr %}
    		{% expr int(tr.days) as days %}
    		  <span class="runtime runtime-{{ days }} right">{{ tr|time }}</span>
        {% else %}
          <span class="runtime runtime-0 right">—</span>
        {% endif %}
    		</a>
    	</li>{% endspaceless %}
	{% endfor %}
	</ul>
{% endfor %}
{% else %}
<p>You are not director in any corporation owning a station.</p>
{% endif %}
{% endblock %}