{% extends "base.html" %}
{% load trade %}

{% block content %}
{% spaceless %}
<ul class="links">
        {% for t in transactions %}
            <li class="transaction"><a href="{{ t.get_absolute_url }}">
                <img src="{{ t.item.icon32 }}">
            	{{ t.item }}<br>
            	<span class="quantity">x{{ t.quantity|comma }}</span>
            	{% if t.sold %}
            	<span class="sold">+ {{ t.value|floatformat:2|comma }}</span>
            	{% else %}
            	<span class="bought">- {{ t.value|floatformat:2|comma }}</span>
            	{% endif %}
            	<br><span class="character">{{ t.character.name }}</span>
            </a></li>
        {% endfor %}
</ul>
{% endspaceless %}
{% endblock %}
