{% extends "base.html" %}
{% load trade %}
{% load markup %}

{% block title %} Market Indexes {% endblock %}

{% block content %}
{% spaceless %}
<ul class="links">
    {% for i in indexes %}
	    <li class="index"><a href="{{ i.get_absolute_url }}">
	    <span class="name">{{ i.name }}</span>
	    <span class="items right">{{ i.items.count }} Items</span>
	    <br>
	    {% if i.url %}
	    <span class="url">{{ i.url }}</span>
	    {% else %}
	    <span class="type">{{ i.type }}</span>
	    {% endif %}
	    </a>
	    </li>
    {% endfor %}
</ul>
{% endspaceless %}
{% endblock %}
