{% extends "base.html" %}
{% load trade %}
{% load markup %}

{% block content %}
{% spaceless %}
<h4>{{ index.name }}</h4>
{% if index.url %}
<p>Taken from: <a href="{{ index.url }}">{{ index.url }}</a></p>
{% endif %}

<p>{{ index.note }}</p>

<p>If you do not like the price for an item, click on it here to
change the price.</p>

<p>Red value is buy price, green value is sell price.</p>
<ul class="links">
	{% for i in values %}
	<li class="index">
		<a href="/trade/index/customize/{{ i.item.id }}/">
		<img src="{{ i.item.icon32 }}">
		<span class="name">{{ i.item.name }}</span><br>
		{% if i.buy %}<span class="index-buy">{{ i.buy|floatformat:2|comma }} ISK</span>{% endif %}
		&nbsp;
		{% if i.sell %}<span class="index-sell right">{{ i.sell|floatformat:2|comma }} ISK</span>{% endif %}
		</a>
	</li>
	{% endfor %}
</ul>
{% endspaceless %}
{% endblock %}
