{% extends "base.html" %}
{% load trade %}
{% load markup %}

{% block title %} {{ item.name }}) {% endblock %}

{% block content %}
<div class="blueprints">
<form method="post">
<table>
{% if item %}
<tr><th colspan="2"><a href="{{ item.get_absolute_url }}">{{ item.name }}</a></th></tr>
{% endif %}
{{ form }}
</table>
{% if item %}
<input type="hidden" name="item" value="{{ item.id }}">
{% endif %}
<input type="submit" value="Add to collection"/>
</form>
</div>
{% endblock %}