{% extends "base.html" %}
{% load trade %}

{% block content %}
{% spaceless %}
<h4>Details</h4>
<table>
  <tr><th>User Name</th><td>{{ user.username }}</td></tr>
  <tr><th>Email</th><td>{{ user.email }}</td></tr>
</table>
<h4>Characters</h4>
{% if characters.count %}
<ul class="links">
  {% for c in characters %}
    <li class="character"><a href="{{ c.get_absolute_url }}">
    <img src="{{ c.icon64 }}">
    <span class="name">{{ c.name }}</span>
    <span class="corporation"><br>{{ c.corporation }}<br></span>
    <span class="isk">{{ c.isk|floatformat:0|comma }} ISK</span>
    <span class="right skill-points">{{ c.skill_points|isk }} SP</span>
    <br>
    {% if c.training_skill %} 
    <span class="skill">{{ c.training_skill }} {{ c.training_level }}</span>
    <span class="right skill-completion">{{ c.training_remaining|default:"Done"|time }}</span>
    {% else  %}
    <span class="skill">No skill in training.</span>
    {% endif %}
    </a>
    </li>
  {% endfor %}  
</ul>
{% else %}
<p>There are no characters on file for your accounts. This probably
means that you just added your API key. If so, data on your characters
will become available usually within 15 minutes, once the backend loader
has finished querying EVE-Online for your information.</p>
{% endif %} 
<h4>Accounts</h4>
<ul class="links">
  {% for a in accounts %}
  <li class="account">
    <a href="{{ a.get_absolute_url }}">
    <span class="name">{{ a.id }}</span><br>
    <span class="api-key">{{ a.api_key_short }}</span>
  </a>
  </li>
  {% endfor %}
  {% for nav in inline_nav %}
  <li><a href="{{ nav.get_absolute_url }}">
  <span class="name">{{ nav.name }}</span><br>
  <span class="note">{{ nav.note }}</span>
  </a></li>
  {% endfor %}
</ul>
{% endspaceless %}
{% endblock %}
