{% extends 'base.html' %}
# import 'include_inlinenav.html' as inline

{% block content %}

{{ inline.nav(inline_nav) }}

<h4>Details</h4>
<table>
  <tr><th>User Name</th><td>{{- user.username|e -}}</td></tr>
  <tr><th>Email</th><td>{{- user.email|e -}}</td></tr>
</table>
<h4>Characters</h4>
{%- if characters.count -%}
<ul class="links">
  {%- for c in characters -%}
    <li class="character"><a href="{{ c.get_absolute_url() }}">
    <img class="icon64" src="{{ c.icon64 }}">
    <span class="name">{{ c.name|e }}</span>
    <span class="corporation"><br>{{- c.corporation|e }}<br></span>
    <span class="skill-points">{{- c.skill_points|isk }} SP</span>
    <span class="right isk">{{ c.isk|int|comma }} ISK</span>
    <br>
    <table>
        # if c.skills_in_queue.count()
            # for s in c.skills_in_queue.all()
                <tr>
                    <td class="skill left">{{ s.skill|e }} {{ s.level }}</td>
                    <td class="skill-completion">{{ s.remaining|time }}</td>
                </tr>
            # endfor
        # else
            <tr>
                <td class="skill left">No skills queued.</td>
            </tr>
        # endif
    </table>
    </a>
    </li>
  {% endfor %}
</ul>
<p class="sell right">Total ISK: {{ total_isk|int|comma }}</p>
{% else %}
<p>There are no characters on file for your accounts.</p>
{% endif %}
<h4>Accounts</h4>
<ul class="links">
  {% for a in accounts %}
  <li class="account">
    <a href="{{ a.get_edit_url() }}">
    <span class="name">{{ a.id|e }}</span><br>
    <span class="api-key">{{ a.api_key_short|e }}</span>
  </a>
  </li>
  {% endfor %}
</ul>
{% endblock %}
