{% extends 'base.html' %}
# import 'include_inlinenav.html' as inline

{% block content %}
{{ inline.nav(inline_nav) }}
<div class="character">
<h3>{{- c.name|e -}}</h3>
<table>
	<tr><th>Character ID</th><td>{{- c.id|e -}}</td></tr>
	<tr><th>Corporation</th><td>{{- c.corporation|e -}}</td></tr>
	<tr><th>Director?</th><td>{{- c.is_director|yesno('Yes','No')|e -}}</td></tr>
	<tr><th>POS Helper?</th><td>{{- c.is_pos_monkey|yesno('Yes','No')|e -}}</td></tr>
	<tr><th>ISK</th><td>{{- c.isk|comma|e -}}</td></tr>
	<tr><th>Skill Points</th><td>{{- c.skill_points|comma|e -}}</td></tr>
    {%- if c.training_skill -%} 
	<tr><th>Training</th><td>{{- c.training_skill|e -}} {{- c.training_level|e -}}</td></tr>
	<tr><th>Training Completion</th><td>{{- c.training_remaining|default('Done')|time|e -}}</td></tr>
    {%- else -%}
	<tr><th>Training</th><td>None</td></tr>
	<tr><th>Training Completion</th><td>N/A</td></tr>
	{%- endif -%}
	<tr><th>Market Transactions</th><td>{{- c.transactions.count() -}}</td></tr>
	<tr><th>Last Refreshed</th><td>{{- c.last_refreshed_delta|time|e -}} ago</td></tr>
	<tr><th>Cache Remaining</th><td>{{- c.cache_remaining()|time|default('None') -}}</td></tr>
</table>
</div>
{% endblock %}
