{% extends 'base.html' %}

{% block content %}
<h3>Request reset</h3>

{% if message %}
<p>{{ message|e }}</p>
{% else %}
<p>Fill in your username below and we will email you a link that you can use
to reset your password.</p>

<form method="post" action=".">
  <table>
    <tr>
      <th>Email Address</th>
      <td><input type="text" name="email" /> </td>
    </tr>
  </table>
  <fieldset>
    <input type="submit" value="Email Password Recovery"/>
  </fieldset>
</form>
{% endif %}

{% endblock %}
