{% extends "base.html" %}

{% block content %}
<ul class="links">
    {% for i in indexes %}
        # set link = i.items.count() < 200
        # if link
	    <li class="index"><a href="{{ i.get_absolute_url() }}">
        # else
            <li class="index no-link"><a>
        # endif
        <span class="name">{{ i.name }}</span>
        <span class="items right">{{ i.items.count() }} Items</span>
        {% if i.url %}<br><span class="note">{{ i.url }}</span>{% endif %}
        {% if i.note %}<br><span class="note">{{ i.note }}</span>{% endif %}
        </a>
        </li>
    {% endfor %}
</ul>
<p>Indexes are listed in order from most important, to least important.
Prices for items will always come from the most important index that has
an entry for that item.</p>

<p>For most users, this means that your set price (see below) is first priority,
your historical average from personal transaction history (across all your
characters) is second, and Jita is lowest priority.</p>

<p>If you do not like the price for an item, find the page for that
item and look under 'Indexes' for the link to set a custom buy or sell
price.</p>
{% endblock %}
