# extends "base.html"

# block content
<h2>Rig Builder</h2>

<form method="post">
# for tl in SALVAGE_TECH_LEVEL.keys()
    <table>
        <tr><th class="center" colspan="2">Tech {{ tl }}</th></tr>
        <tr>
            <th>Salvage</th>
            <th class="number">Qty</th>
        </tr>
	# for item in SALVAGE_TECH_LEVEL[tl]
	<tr>
	  <th><a href="{{ item.get_absolute_url() }}"> <img src="{{ item.icon16 }}"> {{ item.name }}</a></th>
	  <td><input type="text" size="8" value="" name="{{ item.id }}"></td>
	</tr>
	# endfor
    </table>
<input type="submit" value="What can I build?"/>
# endfor
</form>
# endblock
