# extends "base.html"
# import 'include_inlinenav.html' as inline

# block content
<p>Only certain 'interesting' journal entries are shown. Sales tax,
contract fees, etc, are filtered out for brevity.</p>
<ul class="links">
# for t in transactions
    <li class="transaction"><a href="{{ t.get_absolute_url() }}">
    {{ inline.icon32(t) }}
    # if t.is_transaction
        <span class="name">{{ t.item }}</span><br/>
        <span class="quantity">x{{ t.quantity|comma }}</span>
    # else
        <span class="name">{{ t.client }}</span><br/>
        # if t.reason and t.type.name != 'Bounty Prizes'
            <span class="quantity">{{ t.reason }}</span><br/>
        # else
            <span class="quantity">&nbsp;</span>
        # endif
    # endif
    # if t.sold
            <span class="sold right">+ {{ t.value|floatformat(2)|comma }}</span>
    # else
            <span class="bought right">- {{ t.value|floatformat(2)|comma }}</span>
    # endif

    <br>
    <span class="note">{{ t.character.name }}</span>
    # if t.is_transaction
            <span class="note right">{{ t.station.solarsystem.name }}</span>
    # else
            <span class="note right">{{ t.type }}</span><br/>
    # endif
    </a></li>
# endfor
</ul>
# endblock
