input {
    box-sizing: border-box;
    margin: 6px;
    padding: 6px;
    font-size: 1.6em;
    font-weight: normal;
}

input[type='text'],input[type='password'],select {
    font-size: 1.6em;
}

input[type='submit'] {
    font-size: 1.4em;
    font-weight: bold;
    height: 2.5em;
    /*
    -webkit-border-image: url(iPhoneButton.png) 0 5 0 5;
    -webkit-border-radius: 0;
    text-shadow: rgba(144, 144, 144, 0.6) 0px -1px 0;
    text-decoration: none;
    
    color: #fff;
    border-width: 0 5px 0 5px;
    
    xxline-height: 28px;
    background: blue;
    */
}

form {
	margin: 0;
	border: 0;
}
