body {
	margin: 0;
	font-family: Helvetica;
	background: #fff;
	color: #000;
	-webkit-text-size-adjust: none;
	font-size: 1.5ex;
}

ax {
	text-decoration: none;
	color: blue;
}

div.page {
	width: 100%;
	max-width: 600px;
}

a {
	text-decoration: none;
	color: #105CB6;
	font-weight: bold;
}

xli a {
	display: block;
	padding: 1em 20px;
}

xli a:hover {
	background: #5b80b2;
	color: #3B5572;
	color: #fff;
	text-decoration: none;
}

p {
	margin: 3px 10px 10px 10px;
}

.trail {
	background: url("iPhoneToolbar.png") #6d84a2 repeat-x;
	padding: 6px 10px;
	color: #666;
	font-weight: bold;
	font-size: 1.4em;
	min-height: 1px;
}

.trail a {
	text-decoration: none;
	color: #44f;
	left: 6px;
	right: auto;
	/* -webkit-border-image: url(iPhoneBackButton.png) 2 8 2 14; */
	border-width: 2px 8px 2px 14px;
}

/* Flot ***************************************************************************/

div.flot {
	width: 90%;
	height: 180px;
	margin: 5%;
}

div.flot table,
div.flot td {
	text-align: left;
	width: auto;
	border: none;
}

/* Headers ************************************************************************/
h1 {
	box-sizing: border-box;
	margin: 0;
	padding: 10px;
	line-height: 20px;
	font-size: 2.0em;
	font-weight: bold;
	text-align: left;
	text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0;
	text-overflow: ellipsis;
	overflow: hidden;
	color: #fff;
	background: #32598b;
	/* background: #32598b url(logo.gif) 5px 2px no-repeat; */
	min-height: 21px;
	text-align: center;
}

h2 {
	font-size: 2em;
	padding: 0px 0px 0px 10px;
}

h3 {
	margin: 12px 0 6px 10px;
	font-size: 1.6em;
	line-height: 1em;
	border-top: 1px solid #ccc;
	background: url("comments.gif") repeat-x;
	padding: 8px 10px 3px 10px;
	margin: 10px 0;
	color: #222;
	clear: both;
}

h3 a {
	white-space: normal;
}

h4 {
	border-top: 1px solid #ccc;
	background: url("comments.gif") repeat-x;
	padding: 5px 10px 2px 10px;
	margin: 5px 0;
	color: #666;
	clear: both;
	font-size: 1.2em;
}

h5 {
	border-top: 1px solid #ddd;
	padding-top: 4px;
	margin: 0 10px 0px 10px;
	font-size: 1.3em;
	clear: both;
}

.right {
        text-align: right !important;
}

.center {
        text-align: center !important;
        /* border-left: 1px solid red;
        border-right: 1px solid red;
        background: pink; */
}

td.center img,
td.icon img {
        margin: 0 0 0 0;
        float: none;
}

/* Table Elements *****************************************************************/
table {
	width: 94%;
	margin: 0 3% 0 3%;
	color: #666;
	border-bottom: 1px solid #999;
	border-top: 1px solid #999;
	border-collapse: collapse;
}

td {
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	text-align: right;
	padding: 2px;
}

td.name {
	text-align: left;
}

th img,td img,dt img {
	margin: 0 5px 0 0;
	float: left;
	border: 0px;
}

td.icon {
	width: 20px;
	max-width: 20px; /* No idea if that works. */
}

th {
	text-align: left;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	padding: 2px;
}

th.number {
	text-align: right;
}

td.no_bottom {
        border-bottom: none !important;
}
td.no_top {
        border-top: none !important;
}
/* Form Elements ******************************************************************/

/* iphone.css extends some of these. */

fieldset {
	width: 100%;
	margin: 0;
	border: none;
	padding: 6px 0 6px 0;
	background: url("iPhoneToolbar.png") #7388a5 repeat-x;
}

input[type='submit'] {
    font-weight: bold;
}

input[type='submit'], input[type='text'],input[type='password'],select {
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
}

/* Controller: CCP ****************************************************************/
.item p {
	padding: 0 10px 0 10px;
}

.item .materials .name {
	border-bottom: none;
	text-align: left;
}

.item .materials td,.item .materials th {
	text-align: center;
}

.item .skill {
	color: gray;
}

.buy,
.index-buy,
.links span.index-buy {
	color: red !important;
	font-size: 1.0em;
}

.sell,
.index-sell,
.links span.index-sell {
	color: green !important;
	font-size: 1.0em;
}

.item .description {
	padding-left: 80px;
	max-width: 600px;
	position: relative;
	min-height: 80px;
}

.item .description img {
	display: block;
	position: absolute;
	top: 0;
	left: 10px;
	border: 1px #ddd solid;
}

.item .blueprint img {
	margin: 0 10px 10px 0;
	border: 1px #ddd solid;
	float: left;
}

.item .description h3 {
	padding: 0px 10px 5px 10px;
	background: none;
	border: none;
}

.item .description img {
	margin: 0 10px 10px 0;
	border: 1px #ddd solid;
	float: left;
}

.item-makes img {
	border: 1px black solid;
}

.item-trade em {
	font-style: normal;
	font-weight: bold;
	color: green;
	display: block;
	float: right;
	font-size: 1.3em;
	margin: 0 10px 10px 0;
}

.item-trade ul,.trade li {
	list-style: none;
	padding: 0;
	margin: 0;
}

.item-trade li a {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	max-width: 17em;
	text-decoration: none;
	color: #105CB6;
	display: block;
}

/* Controller: CCP ****************************************************************/
li.character {
	min-height: 90px;
}

li.character a {
	display: block;
	padding: 8px 32px 8px 80px;
}

.character .skill,
.character .skill-completion,
.character .corporation {
	color: gray;
	font-weight: normal;
	font-size: 1.1em;
}

td.skill-completion {
	min-width: 50px;
}

.character .portrait {
	padding: 10px 32px 10px 27px;
	position: relative;
}

.character .skill-points {
	color: red;
	font-size: 1.2em;
}

.character .isk {
	color: green;
	font-size: 1.2em;
}

.account .api-key {
	color: gray;
	font-size: 1.3em;
	font-weight: normal;
	font-family: monospace;
}

.sov-changes .date {
	text-align: right;
	position: absolute;
	right: 40px;
	font-weight: normal;
}

.sov-changes .old {
	color: red;
	font-weight: normal;
	font-size: 1.2em;
}

.sov-changes .new {
	color: blue;
	font-weight: normal;
	font-size: 1.2em;
}


.transaction span {
	font-size: 0.5em;
}

.quantity {
	font-weight: bold;
	color: gray;
}

.transaction .bought {
	color: red;
}

.transaction .sold {
	color: green;
}

.transaction .character,
.transaction .system {
	font-weight: normal;
	font-size: 0.9em;
	color: gray;
}

.stations .security,
.constellation .security {
	position: absolute;
	right: 40px;
	text-align: right;
        font-size: 1em;
}

.stations .security-low,
.constellation .security-low {
	color: red;
}

.stations .security-high,
.constellation .security-high {
	color: blue;
}

.stations .solarsystem {
	right: 40px;
	text-align: right;
	position: absolute;
	color: gray;
}

.constellation .belts {
	color: gray;
}

.constellation .moons {
	color: gray;
	position: absolute;
	left: 95px;
}

.constellation .stations {
	color: green;
	position: absolute;
	left: 145px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	max-width: 145px;
}

.region .systems {
	color: gray;
}

.region span.stations {
	color: green;
	text-align: right;
	position: absolute;
	left: 170px;
}

.npc .value {
        right: 10%;
        position: absolute;
        text-align: right;
        color: black !important;
}
/*
.npc .em {
        position: absolute;
        right: 55%;
        text-align: right;
}

.npc .thermal {
        position: absolute;
        right: 10%;
        text-align: right;
}

.npc .kinetic {
        position: absolute;
        right: 25%;
        text-align: right;
}

.npc .explosive {
        position: absolute;
        right: 40%;
        text-align: right;
}
*/
.npc .missile_dps,
.npc .dps {
        background-color: rgb(225, 225, 225) !important;
        width: 100%;
        display: block;
}

.npc .dps-total {
        border-top: solid 1px black;
}

table.npc tr.ewar {
        background-color: rgb(213, 223, 255) !important;
}

.em {
        color: rgb(92, 128, 240) !important;
}

.explosive {
        color: rgb(240, 110, 47) !important;
}

.kinetic {
        color: rgb(135, 135, 135) !important;
}

.thermal {
        color: rgb(240, 47, 91) !important;
}

.npc .dampen {
        background-color: rgb(196, 183, 240) !important;
        width: 100%;
        display: block;
}

.npc .scramble {
        background-color: rgb(255, 232, 213) !important;
        width: 100%;
        display: block;
}

.npc .jam {
        background-color: rgb(255, 237, 168) !important;
        width: 100%;
        display: block;
}

.npc .webify {
        background-color: rgb(168, 189, 255) !important;
        width: 100%;
        display: block;
}

/* Controller: Trade **************************************************************/
.blueprint .name {
	font-size: 1.4em;
}

.blueprint .original {
	color: green;
}

.blueprint .is_original {
	font-size: 1em;
	font-weight: bold;
}

.blueprint .pe,.blueprint .me,.blueprint .cost {
	font-size: 1em;
	font-weight: normal;
}

.blueprint .pe {
	color: green;
	position: absolute;
	left: 45%;
}

.blueprint .me {
	color: gray;
	left: 50px;
}

.blueprint .me-crap {
        color: red;
}

.blueprint .cost {
	color: gray;
	position: absolute;
	right: 25%;
	text-align: right;
}

/* Controller: POS ****************************************************************/
.pos-access .director {
	color: purple;
	font-weight: bold;
}

.pos-access .monkey {
	color: blue;
}

.pos-access .granted {
	color: green;
}

.pos-access .denied {
	color: red;
}

.pos .online {
	color: green;
	font-weight: bold;
}

.pos .offline {
	color: red;
	text-decoration: blink;
	font-weight: bold;
}

.pos .enabled {
	color: green;
	font-weight: bold;
}

.pos .disabled {
	color: gray;
}

.pos .type {
	color: gray;
	font-weight: normal;
	font-size: 1.0em;
}

.runtime {
	font-size: 1.2em;
	color: green;
	font-weight: normal;
}

.runtime-0 {
	text-decoration: blink;
	font-weight: bold;
	color: red;
}

.runtime-1,
.runtime-2 {
	font-weight: bold;
	color: rgb(255, 74, 0);
}

.runtime-3 {
	color: rgb(255, 184, 74);
}

.pos-cost .moon {
	text-align: left;
	font-size: 1.2em;
}

.pos-cost .cost {
	color: red;
	font-size: 1.1em;
}

.pos-cost .profit {
	color: green;
	font-size: 1.1em;
}

.pos-cost .total {
	font-weight: bold;
}

.pos-cost .no-mining {
	color: rgb(255, 74, 0);
	font-weight: normal;
	font-size: 1em;
}

.index .items {
	color: gray;
	font-size: 1.0em;
}

.index .url {
	color: gray;
	font-weight: normal;
}

.index .price {
	color: green;
}

.left {
	text-align: left;
}

.error,
.errorlist {
	color: red;
}

.warning {
        color: rgb(240, 83, 47) !important;
}

.messages li {
	font-size: 1.5em;
	font-weight: bold;
}

/************************************************************************************************/
.links {
	left: 0;
	width: 100%;
	/* min-height: 418px; */
	margin: 0;
	padding: 0;
	border-top: 1px solid #E0E0E0;
}

.links li {
	margin: 0;
	border-bottom: 1px solid #E0E0E0;
	padding: 0;
	background: url("iPhoneArrow.png") no-repeat right center;
	list-style: none;
	position: relative;
	min-height: 48px;
}

.links li.no-link {
	background: none;
}

.links span {
	font-size: 1.4em;
	font-weight: bold;
}

.links .right {
	text-align: right;
	position: absolute;
	right: 35px;
}

.links span.link {
	color: black;
}

.links span.note,
.links span.note * {
	color: #888;
	font-weight: normal !important;
	font-size: 1em !important;
}

.links span.name {
	color: black;
}

.links a {
	display: block;
	padding: 8px 32px 8px 48px;
	text-decoration: none;
	color: inherit;
	min-height: 32px;
}

.links img {
	display: block;
	position: absolute;
	top: 5px;
	left: 5px;
	border: 1px #ddd solid;
        width: 32px;
        height: 32px;
}

.links img.icon64 {
        width: 64px;
        height: 64px;
}
